body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:lightgrey;
    color:black;
    margin-left:50px;    
  }
  h1{
    font-size: 3rem;
    text-align: center;
    color:black;
  }
  h2{
    font-size:2rem;
    margin-left:10%;
    margin-right:10%;
    margin-bottom:15px;
    background-color:grey;
    color:white;
  }  
  em{
      color:red;
  }
  strong{
      background-color:white;
  }
  section img{
      float: left;
      margin-right: 10px  
  }
  section p{
    text-indent: 40px;
    text-align: justify;
    margin-right: 250px;
    margin-left: 225px;
  }